<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Josh's Stuff</string>
	<key>ordering</key>
	<array>
		<string>8D64561B-E93F-47D9-9B48-25FEB3FFA5D3</string>
		<string>4652BBFC-24BD-4879-AE4D-973D5028E886</string>
		<string>B4E822FA-9A7A-4B15-BEDC-59E3E6598588</string>
		<string>BE0F7F45-5240-449D-8A28-D0186AC2466F</string>
		<string>316E9C01-6129-4E4E-B01D-D7FD97B92825</string>
		<string>570A5ACC-8B92-40A7-8D48-39529EB1F576</string>
		<string>DF98EBB2-C074-429E-84BA-CADF8CAC20B6</string>
		<string>8803C1CA-6A68-4ABD-B8A2-CA7C69B82FD2</string>
		<string>E0A9D091-F0B5-4ED1-AECF-6A47E409A270</string>
	</array>
	<key>uuid</key>
	<string>C9F3CDDA-C0DE-4DF7-86B8-C0E6E763A2DC</string>
</dict>
</plist>
