<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Josh's Stuff</string>
	<key>uuid</key>
	<string>C9F3CDDA-C0DE-4DF7-86B8-C0E6E763A2DC</string>
</dict>
</plist>
